<div class="main">
    <img src="https://placehold.co/200x200?text=logo" alt="Logo" class="logo">
    <h2>twitch2osu!</h2>
    <span class="about">A <a href="https://twitch.tv">Twitch</a>
        utility that redirects your chat's messages to <a href="https://osu.ppy.sh/home">osu!</a>
        DMs
    </span>
    <div class="links">
        <a href="https://github.com/notiriscent/twitch2osu" style="color: white; background-color: black;" target="_blank">GitHub</a>
        <a href="https://osu.ppy.sh/users/18498571" style="color: white; background-color: #dc98a4;" target="_blank">creator's osu profile</a>
    </div>
</div>