body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #313142;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    background-color: #383849;
    border-bottom: 1px white solid;
}

nav img {
    vertical-align: middle;
    margin: -2px;
}

nav a {
    font-weight: 600;
    margin-right: 24px;
    text-decoration: none;
    color: white;
}

nav a:visited {
    color: white;
}

nav a:first-child {
    font-size: 24px;
    margin-left: 12px;
}

a {
    color: #7990f5;
}

a:visited {
    color: #a479f5;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 380px;
    background-color: #1212123f;
}

.controls {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: max-content;
}

.controls .control {
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.status-text {
    font-size: 32px;
    font-weight: 600;
}

.status-value {
    font-size: 24px;
    font-weight: 400;
}

.state {
    flex-direction: row !important;
}

.state a {
    cursor: pointer;
    font-weight: 500;
    margin-top: 12px;
    color: white;
    outline: none;
    border: none;
    padding: 6px 12px;
    height: fit-content;
    border-radius: 6px;
    font-size: 18px;
    margin-right: 12px;
}

#start {
    background-color: #12af12;
}

#stop {
    background-color: #af1212;
}